Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: baseimage, serverapp, webapp-frontend, webapp-backend

Path conditions:
  baseimage: any of: Dockerfile, environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, model/**/*, .gitlab-ci.yml
  webapp-frontend: any of: web_app/**/*, .gitlab-ci.yml
  webapp-backend: any of: web_app/backend/**/*, .gitlab-ci.yml

[web_app] Disable flood zone computation in backend, as produces error
  web_app/backend/app.py
  web_app/frontend/main.js
Due: webapp-frontend, webapp-backend

Extend README and frontend home page with description of flood prediction functionality.
  README.md
  web_app/frontend/imgs/aquatic_plastic_logo.png
  web_app/frontend/imgs/interreg_logo.png
  web_app/frontend/index.html
  web_app/frontend/main.js
  web_app/screenshot_flood.png
Due: webapp-frontend

Add Drina location to README.
  README.md
Due: none

Extend READMEs
  README.md
  server_app/README.md
  web_app/frontend/README.md
Due: serverapp, webapp-frontend

Add environment variable to web frontend documentation.
  web_app/frontend/README.md
Due: webapp-frontend

Minor update in web frontend description.
  web_app/frontend/index.html
Due: webapp-frontend

Update Bing Maps key.
  web_app/frontend/main.js
Due: webapp-frontend

Minor prettier fixes in documentation.
  README.md
  server_app/README.md
Due: serverapp

update ol to support Google API and change map tile provider from Bing to Google
  web_app/frontend/main.js
  web_app/frontend/package-lock.json
  web_app/frontend/package.json
Due: webapp-frontend

Add production Google API key
  web_app/frontend/main.js
Due: webapp-frontend

npm audit fix
  web_app/frontend/package-lock.json
Due: webapp-frontend

fix hybrid layer
  web_app/frontend/main.js
Due: webapp-frontend

Hide flood layers when tile server is unavailable.
  web_app/frontend/main.js
Due: webapp-frontend

Upgrade SentinelHub and Dependencies
  environment.yml
  server_app/requirements.txt
  server_app/src/sentinelapi.py
Due: baseimage, serverapp

[web_app_frontend] Fix optional load of flood layers from GeoServer.
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Remove Google Aerial and Satellite base layers, as they are not supported in the EU.
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Move Google Maps API key to dotenv config.
  web_app/frontend/.env
  web_app/frontend/.env.production
  web_app/frontend/README.md
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Hide popups on page load. Serve development environment on port 5500.
  web_app/frontend/.env
  web_app/frontend/style.css
  web_app/frontend/vite.config.js
Due: webapp-frontend

[web_app_frontend] Add Stadia Maps basemaps.
  web_app/frontend/.env
  web_app/frontend/.env.production
  web_app/frontend/README.md
  web_app/frontend/main.js
Due: webapp-frontend

chore: apply prettier
  web_app/frontend/README.md
  web_app/frontend/main.js
  web_app/frontend/vite.config.js
Due: webapp-frontend

[web_app] Use frontend port 5500 for CORS in the backend.
  Dockerfile
  web_app/backend/README.md
Due: baseimage, webapp-frontend, webapp-backend

Remove Stadia Satellite layer temporarily due to requiring paid plan
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Extract location configuration into separate GeoJSON config file.
  web_app/frontend/README.md
  web_app/frontend/demo.html
  web_app/frontend/main.js
  web_app/frontend/public/locations.json
Due: webapp-frontend

fix: resolve race condition in DOM initialization
  web_app/frontend/main.js
Due: webapp-frontend

refactor: Add and enforce unique constraint on `filename` field of the `SatelliteImage` table to avoid database entry duplication with automatic insertion.
  web_app/backend/app.py
  web_app/backend/migrations/versions/7a7edb836370_add_unique_constraint_to_satellite_.py
  web_app/backend/models.py
Due: webapp-frontend, webapp-backend

feat: Implement automatic metadata upload to web app DB
  Dockerfile
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/baseapi.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  web_app/backend/README.md
  web_app/backend/app.py
Due: baseimage, serverapp, webapp-frontend, webapp-backend

[ci] Disable unittest job due to libtorch execstack issue.
  .gitlab-ci.yml
Due: baseimage, serverapp, webapp-frontend, webapp-backend

[web_app_frontend] Handle backend unavailability.
  web_app/frontend/main.js
Due: webapp-frontend

[ci] Remove execstack flag from libtorch binaries.
  .gitlab-ci.yml
  Dockerfile
Due: baseimage, serverapp, webapp-frontend, webapp-backend

[web_app_frontend] Enforce water level station filtering, to improve performance.
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Enable OpenLayers popup for water station data.
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Better positing of the Login button on smaller screens.
  web_app/frontend/demo.html
  web_app/frontend/style.css
Due: webapp-frontend

chore(web_app_frontend): prettier fixes
  web_app/frontend/demo.html
Due: webapp-frontend

chore: remove outdated pip requirements file
  desktop_app/requirements.txt
Due: none

chore: remove outdated pip requirements file
  server_app/requirements.txt
Due: serverapp

build: create separate Conda environments per subproject
  .gitlab-ci.yml
  Dockerfile
  README.md
  desktop_app/environment.yml
  environment.yml
  server_app/README.md
  server_app/docker/start_server.sh
  server_app/environment.yml
  web_app/backend/environment.yml
Due: baseimage, serverapp, webapp-frontend, webapp-backend

model: extract FloodPrediction
  Dockerfile
  model/flood_prediction.py
  model/model.py
  web_app/backend/README.md
  web_app/backend/app.py
  web_app/backend/environment.yml
Due: baseimage, serverapp, webapp-frontend, webapp-backend

model(flood_prediction): minor fixes and code quality improvement
  model/flood_prediction.py
  web_app/backend/app.py
Due: serverapp, webapp-frontend, webapp-backend

refactor: black reformatting
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
  desktop_app/src/view.py
  desktop_app/src/view_model.py
  desktop_app/src/zoom_canvas.py
  model/flood_prediction.py
  run_desktop_app.py
  unit_tests/model_test.py
  web_app/backend/migrations/versions/26c4ec711b49_initial_migration.py
  web_app/backend/migrations/versions/7a7edb836370_add_unique_constraint_to_satellite_.py
  web_app/backend/models.py
Due: serverapp, webapp-frontend, webapp-backend

[server_app] Support CDSE for SentinelHub
  server_app/README.md
  server_app/docker/config.docker.json
  server_app/resources/config.sample.json
  server_app/src/sentinelapi.py
Due: serverapp
