Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

webapp-deploy:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

baseimage:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: .
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull --target base -t "$IMAGE_NAME_BASE:latest"
  ...

serverapp:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: .
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull -t "$IMAGE_NAME_SERVER:latest"
  ...

Add Notebooks folder
  notebooks/.gitkeep
Due: none

[web_app_backend] #14 Use true environment variables in Flask Config
  web_app/backend/config.py
Due: webapp-deploy

[web_app_backend] #14 Use binary version of psycopg2 to be compatible with miniconda3 image
  environment.yml
Due: baseimage

[web_app_backend] #14 Change migration script
  web_app/backend/migrations/versions/c7ecb95f0e17_initial_migration.py
Due: webapp-deploy

[web_app_backend] #14 Add web_app_backend to Dockerfile
  Dockerfile
Due: baseimage

[web_app_backend] #14 Update Dockerfile for web_app_backend
  Dockerfile
Due: baseimage

[web_app_backend] #14 Set version of sqlalchemy in environment.yml
  environment.yml
Due: baseimage

[web_app_backend] #14 Set SQLALCHEMY_TRACK_MODIFICATIONS value in config.py
  web_app/backend/config.py
Due: webapp-deploy

[web_app_backend] #14 Update configs for flask app
  Dockerfile
  web_app/backend/app.py
  web_app/backend/config.py
Due: webapp-deploy, baseimage

[web_app_backend] #14 Add web_app_backend docker image build to ci
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Run Flask app with python command
  Dockerfile
Due: baseimage

[web_app_backend] #14 Add argparse to Flask app
  web_app/backend/app.py
Due: webapp-deploy

[web_app_backend] #14 Add sanity check to env variables in config.py
  web_app/backend/config.py
Due: webapp-deploy

[web_app_backend] #14 Comment out rules when building base image and deploying web_app_backend image for testing
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_frontend] #11 Correct wrong error messages
  web_app/app/main.js
Due: webapp-deploy

[web_app_backend] #14 Make web_app_backend production ready and update environment.yml
  Dockerfile
  environment.yml
Due: baseimage

[web_app_backend] #14 Add arguments for gunicorn
  Dockerfile
Due: baseimage

[web_app_backend] #14 Add logging to app
  web_app/backend/app.py
Due: webapp-deploy

[web_app_backend] #14 Add debug mode
  web_app/backend/app.py
Due: webapp-deploy

[web_app_backend] #14 Handle debug mode with ENV variables
  Dockerfile
  web_app/backend/app.py
Due: webapp-deploy, baseimage

[web_app_backend] #14 Update READMEs
  Dockerfile
  server_app/README.md
  web_app/backend/README.md
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Use prettier
  web_app/backend/README.md
Due: webapp-deploy

[web_app_backend] #14 Use black
  web_app/backend/migrations/versions/c7ecb95f0e17_initial_migration.py
Due: webapp-deploy

[web_app_frontend] #11 Update package-lock.json
  web_app/app/package-lock.json
Due: webapp-deploy

[web_app_frontend] #11 Update package-lock.json
  web_app/frontend/package-lock.json
Due: webapp-deploy

Add backend URL to VITE conf.
  web_app/app/.env.production
Due: webapp-deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

Update login.js
  web_app/app/login.js
Due: webapp-deploy

[web_app_backend] #14 Update README.md
  web_app/backend/README.md
Due: webapp-deploy

[web_app_backend] #14 Remove running docker container and start a new in .gitlab-ci.yml
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Fix .gitlab-ci.yml
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Update README for flask backend
  web_app/backend/README.md
Due: webapp-deploy

[ci] unifying job names [skip ci]
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #20 Exclude operations on spatial_ref_sys table in migrations
  web_app/backend/migrations/alembic.ini
  web_app/backend/migrations/env.py
  web_app/backend/migrations/versions/26c4ec711b49_initial_migration.py
Due: webapp-deploy

[web_app_backend] #20 Add admin user after init migration to user table
  web_app/backend/migrations/versions/bdc883c1e3d9_add_admin_user_to_user_table.py
Due: webapp-deploy

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: Dockerfile, environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, model/**/*, .gitlab-ci.yml
