Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

webapp-deploy:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

baseimage:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

serverapp:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull -t "$IMAGE_NAME_SERVER:latest"
  ...

update config to new path
  web_app/app/.env.production
Due: webapp-deploy

fix typo in README
  server_app/README.md
Due: serverapp

run black
  server_app/src/__main__.py
  server_app/src/baseapi.py
  server_app/src/model.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

run prettier
  web_app/app/demo.html
  web_app/app/main.js
Due: webapp-deploy

start changing parameters
  server_app/docker/start_server.sh
  server_app/src/__main__.py
  server_app/src/process.py
Due: serverapp

refactor app to support new params
  server_app/src/process.py
Due: serverapp

add error message to exception
  server_app/src/process.py.13fd999de94a0020e137b1d97bbfc083.tmp
Due: serverapp

remove tmp file
  server_app/src/process.py
  server_app/src/process.py.13fd999de94a0020e137b1d97bbfc083.tmp
Due: serverapp

run black
  server_app/src/__main__.py
  server_app/src/process.py
Due: serverapp

add Drina to the points of interest
  server_app/resources/locations.geojson
Due: serverapp

[web_app] Add new layer for drawing polygons
  web_app/app/main.js
Due: webapp-deploy

[web_app] Add popup for annotation type selection
  web_app/app/demo.html
  web_app/app/main.js
  web_app/app/style.css
Due: webapp-deploy

[web_app] Enlarge swipe length
  web_app/app/demo.html
Due: webapp-deploy

Add Drina to the Webapp options
  web_app/app/demo.html
Due: webapp-deploy

[server_app] Updated README.
  server_app/README.md
Due: serverapp

add Drina bounding box to the webapp
  web_app/app/main.js
Due: webapp-deploy

#11 [web_app] Display popup inside polygon
  web_app/app/demo.html
  web_app/app/main.js
Due: webapp-deploy

#11 [web_app] Add buttons to annotation popup and write annotation data to console
  web_app/app/demo.html
  web_app/app/main.js
  web_app/app/style.css
Due: webapp-deploy

add bounding box for Drina
  web_app/app/main.js
Due: webapp-deploy

run prettier
  web_app/app/demo.html
  web_app/app/index.html
  web_app/app/main.js
Due: webapp-deploy

run prettier again
  web_app/app/demo.html
  web_app/app/index.html
  web_app/app/main.js
Due: webapp-deploy

run prettier on README.md
  server_app/README.md
Due: serverapp

#2 [desktop_app] Delete config.json from src folder
  desktop_app/src/config.json
Due: none

#2 [desktop_app] Rename config.json to config.sample.json
  desktop_app/resources/config.sample.json
  run_desktop_app.py
  unittest_model.py
Due: none

#2 [model] Refactor Persistence: set class attributes dynamically
  model/persistence.py
Due: none

#2 [model] Refactor Model step 1: Merge model from desktop_app and server_app, merged model optimized for desktop_app
  model/model.py
Due: none

#2 [desktop_app] Adapt Controller to Model changes, rename all 'mc' to 'c' in variable names (use 'class' instead of 'master-class')
  desktop_app/src/controller.py
Due: none

#2 [desktop_app] Rename all 'mc' to 'c' in SettingsView and TrainingView (use 'class' instead of 'master-class')
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
Due: none

#2 [desktop_app, server_app] Adapt config files to Model changes
  desktop_app/resources/config.sample.json
  server_app/resources/config.sample.json
Due: serverapp

#2 [desktop_app] Add ViewModel to desktop_app: it contains methods and properties from the original Model class, these are needed for the View layer of the application
  desktop_app/src/view_model.py
Due: none

#2 [desktop_app] Adapt runner script to Model changes
  run_desktop_app.py
Due: none

#2 [test] Adapt unit tests to Model changes
  unittest_model.py
Due: none

#2 Add combined environment.yml to repo
  environment.yml
Due: none

#2 [model] Make persistence attribute public
  model/model.py
Due: none

#2 [server_app] Add runner script
  run_server_app.py
Due: none

#2 [server_app] Adapt file paths in config file: relative to new runner script
  server_app/resources/config.sample.json
Due: serverapp

#2 [desktop_app] Make persistence attribute in ViewModel public
  desktop_app/src/view_model.py
Due: none

#2 [server_app] Change 'config_file' Dict to 'settings' Persistence attribute in BaseAPI
  server_app/src/baseapi.py
Due: serverapp

#2 [server_app] Adapt keys in README and docker config
  server_app/README.md
  server_app/docker/config.docker.json
Due: serverapp

#2 Add xml files to gitignore
  .gitignore
Due: none

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: server_app/Dockerfile, server_app/environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, .gitlab-ci.yml
