Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: baseimage, serverapp, webapp-frontend, webapp-backend

baseimage:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: .
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull --target base -t "$IMAGE_NAME_BASE:latest"
  ...

serverapp:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: .
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

webapp-frontend:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

webapp-backend:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: .
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

ci: deploy AQPLA edition of demo app
  .gitlab-ci.yml
  web_app/frontend/.env.aqpla
Due: baseimage, serverapp, webapp-frontend, webapp-backend

[web_app_frontend] Do not select Flood Prediction by default
  web_app/frontend/main.js
Due: webapp-frontend

ci: trigger AQPLA build and deployment jobs based on variable configuration
  .gitlab-ci.yml
Due: baseimage, serverapp, webapp-frontend, webapp-backend

ci: use CI/CD Inputs instead of Variables for AQPLA deployment configuration
  .gitlab-ci.yml
  web_app/frontend/.env.aqpla
Due: baseimage, serverapp, webapp-frontend, webapp-backend

[web_app_frontend] Make the default selected location configurable.
  web_app/frontend/.env
  web_app/frontend/.env.aqpla
  web_app/frontend/.env.production
  web_app/frontend/README.md
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Make the default heatmap level visualized configurable.
  web_app/frontend/.env
  web_app/frontend/.env.aqpla
  web_app/frontend/.env.production
  web_app/frontend/README.md
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Make GeoServer for flood prediction functionality optional.
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Make the backend Flask server optional
  web_app/frontend/README.md
  web_app/frontend/main.js
Due: webapp-frontend

[web_app_frontend] Make the Google and Stadia basemap API keys optional.
  web_app/frontend/main.js
Due: webapp-frontend

Centralize metadata creation and align image path resolution
  server_app/src/baseapi.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  web_app/frontend/main.js
Due: serverapp, webapp-frontend

[web_app_frontend] Update SAMESITE cookie policy for local development
  Dockerfile
  web_app/backend/README.md
  web_app/backend/app.py
Due: baseimage, webapp-frontend, webapp-backend

[server_app] Remove creation of sample output folders.
  server_app/docker/start_server.sh
Due: serverapp

[server_app] Make Planet product bundle configurable and harden Planet order polling
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/planetapi.py
Due: serverapp

[web_app_frontend] Handle no satellite image availability for locations.
  web_app/frontend/demo.html
  web_app/frontend/main.js
Due: webapp-frontend

Move Google Maps and Stadia Maps API keys into CI variables for production deployment
  web_app/frontend/.env.production
Due: webapp-frontend

Path conditions:
  baseimage: any of: Dockerfile, environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, model/**/*, .gitlab-ci.yml
  webapp-frontend: any of: web_app/**/*, .gitlab-ci.yml
  webapp-backend: any of: web_app/backend/**/*, .gitlab-ci.yml
