Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: Dockerfile, environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, model/**/*, .gitlab-ci.yml

[web_app_backend] #20 Add new env variables to ci and README
  .gitlab-ci.yml
  web_app/backend/README.md
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #20 Require login before adding new user
  web_app/backend/app.py
Due: webapp-deploy

[server_app] Add minimum age config option
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/process.py
Due: serverapp

Add U-NET and U-NET++ models
  desktop_app/clf/unet_model.sav
  desktop_app/resources/config.sample.json
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/view.py
  desktop_app/src/view_model.py
  environment.yml
  model/exceptions.py
  model/model.py
  model/persistence.py
  model/unet.py
  notebooks/training-unet/train-unet.ipynb
  run_server_app.py
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/process.py
Due: baseimage, serverapp

Notebooks for Model Evaluation
  notebooks/evaluate-ml/evaluate_ml.ipynb
  notebooks/evaluate-unet/evaluate_unet.ipynb
  notebooks/evaluate-unet/load_unets.py
Due: none

[ci] restructure
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

updated: numpy, shapely
  environment.yml
Due: baseimage

prettier
  environment.yml
Due: baseimage

Update main calculations for better readability, testability and performance
  .gitlab-ci.yml
  model/estimations.py
  model/gdal_utils.py
  model/model.py
  model/treshold.py
  unit_tests/estimations_test.py
  unit_tests/gdal_utils_test.py
  unit_tests/model_test.py
  web_app/frontend/main.js
Due: webapp-deploy, baseimage, serverapp

fix environment.yml
  environment.yml
Due: baseimage

Fix start_server.sh
  server_app/docker/start_server.sh
Due: serverapp

Edit start_server.sh
  server_app/docker/start_server.sh
Due: serverapp

Introduce Adjusted Plastic Index (API)
  .gitlab-ci.yml
  desktop_app/resources/config.sample.json
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/view.py
  desktop_app/src/view_model.py
  model/index_calculator.py
  model/model.py
  model/persistence.py
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/process.py
  server_app/src/sentinelapi.py
  unit_tests/index_calculator_test.py
  unit_tests/model_test.py
Due: webapp-deploy, baseimage, serverapp

show classification results even if satellite image is not available
  web_app/frontend/main.js
Due: webapp-deploy

run prettier
  web_app/frontend/main.js
Due: webapp-deploy

fixed: incorrect token atr. name (TOKEN), missing ffunction parameters, round up water level values, added sys.path
  web_app/backend/.env.production
  web_app/backend/app.py
  web_app/frontend/main.js
Due: webapp-deploy

run black
  web_app/backend/app.py
Due: webapp-deploy

fix configuration issues
  .gitlab-ci.yml
  web_app/backend/.env.production
  web_app/frontend/.env.production
Due: webapp-deploy, baseimage, serverapp

Setup data folder for webapp-backend
  .gitlab-ci.yml
  web_app/backend/.env.production
Due: webapp-deploy, baseimage, serverapp

copy model into dockerfile of backend-webapp
  Dockerfile
Due: baseimage

fix typo in .env.production
  web_app/backend/.env.production
Due: webapp-deploy

Rename .env.production to .env
  web_app/backend/.env
Due: webapp-deploy

Edit environment.yml
  environment.yml
Due: baseimage

Use micromamba to disable default channel
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

fix typo
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

Lower conda-dotenv version
  environment.yml
Due: baseimage

Fix .env file, call load_dotenv explicitly
  web_app/backend/.env
  web_app/backend/config.py
Due: webapp-deploy

run black
  web_app/backend/config.py
Due: webapp-deploy

remove login from flood_forecast
  web_app/backend/app.py
Due: webapp-deploy

bump shapely version
  environment.yml
Due: baseimage

fix env variable names
  web_app/frontend/.env
  web_app/frontend/main.js
Due: webapp-deploy

Disable "Get all stations" feature temporarily.
  web_app/frontend/demo.html
Due: webapp-deploy

added all environment varaibles to readme file
  web_app/backend/README.md
Due: webapp-deploy

prettier fix on README
  web_app/backend/README.md
Due: webapp-deploy

Add /setup endpoint to docs.
  web_app/backend/README.md
Due: webapp-deploy

linting fixes
  web_app/backend/app.py
Due: webapp-deploy

[web_app] Update frontend README
  web_app/README.md
  web_app/frontend/README.md
Due: webapp-deploy

[web_app] Fix disableFiltering checkbox read.
  web_app/frontend/main.js
Due: webapp-deploy
