Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

webapp-deploy:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

baseimage:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

serverapp:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull -t "$IMAGE_NAME_SERVER:latest"
  ...

#2 [server_app] Change 'config_file' Dict to 'settings' Persistence attribute in PlanetAPI
  server_app/src/planetapi.py
Due: serverapp

#2 [desktop_app] Fix wrong parametrization in ViewModel methods
  desktop_app/src/view_model.py
Due: none

#2 [model] Refactor output path generation
  model/model.py
Due: none

#2 [server_app] Change 'config_file' Dict to 'settings' Persistence attribute in SentinelAPI
  server_app/src/sentinelapi.py
Due: serverapp

#2 [server_app] Adapt Process class to Model Refactor
  server_app/src/process.py
Due: serverapp

#2 [ci] Add --line-length 120 argument to black
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

#2 [desktop_app] Fix: right canvas was not cleared in some cases, Use black in controller.py
  desktop_app/src/controller.py
Due: none

#2 [desktop_app] Use black
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
  desktop_app/src/view.py
  desktop_app/src/zoom_canvas.py
Due: none

#2 [desktop_app] Remove imports, Reorder methods, Use black in view_model.py
  desktop_app/src/view_model.py
Due: none

[model] Use f-strings in exceptions.py
  model/exceptions.py
Due: none

#2 [model] Remove unnecessary custom exceptions
  model/exceptions.py
Due: none

#2 [model] Update docstrings, Reorder methods in model.py
  model/model.py
Due: none

#2 [model] Add docstrings, Remove imports and methods from persistence.py
  model/persistence.py
Due: none

#2 [server_app] Delete model.py from server_app
  server_app/src/model.py
Due: serverapp

#2 [server_app] Delete main.py from server_app
  server_app/src/__main__.py
Due: serverapp

#2 [desktop_app] Move about.txt to resources
  desktop_app/resources/about.txt
  desktop_app/src/controller.py
Due: none

implement coverage filter for planet API
  server_app/resources/config.sample.json
  server_app/src/planetapi.py
  server_app/src/process.py
Due: serverapp

#2 Delete separate environment.yml files
  desktop_app/environment.yml
  server_app/environment.yml
Due: baseimage, serverapp

#2 Add comments to environment.yml
  environment.yml
Due: none

#2 [server_app] Move Dockerfile to root and update it according to the model refactor
  Dockerfile
Due: none

#2 [server_app] Update start_server.sh according to model refactor
  server_app/docker/start_server.sh
Due: serverapp

#2 [ci] Update ci according to model refactor
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

#2 Use black
  run_desktop_app.py
  run_server_app.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  unittest_model.py
Due: serverapp

#2 Use prettier
  environment.yml
  web_app/app/package-lock.json
  web_app/app/package.json
Due: webapp-deploy

#2 [server_app] Update README.md
  server_app/README.md
Due: serverapp

#2 Update READMEs
  desktop_app/README.md
  server_app/README.md
Due: serverapp

add filter for standard quality
  server_app/src/planetapi.py
Due: serverapp

update documentation
  server_app/README.md
Due: serverapp

run black
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
  desktop_app/src/view.py
  desktop_app/src/view_model.py
  desktop_app/src/zoom_canvas.py
  model/exceptions.py
  model/model.py
  model/persistence.py
  run_desktop_app.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  unittest_model.py
Due: serverapp

Revert "run black"
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
  desktop_app/src/view.py
  desktop_app/src/view_model.py
  desktop_app/src/zoom_canvas.py
  model/exceptions.py
  model/model.py
  model/persistence.py
  run_desktop_app.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  unittest_model.py
Due: serverapp

run black with 120 line length
  desktop_app/src/view_model.py
  server_app/src/planetapi.py
  server_app/src/process.py
Due: serverapp

run black again
  desktop_app/src/view_model.py
  server_app/src/process.py
Due: serverapp

[ci] Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

change coverage range from 0-1 to 0-100
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/planetapi.py
Due: serverapp

Add water and cloud masking.
  desktop_app/resources/config.sample.json
  environment.yml
  model/model.py
  server_app/README.md
  server_app/requirements.txt
  server_app/resources/config.sample.json
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

Add scikit image.
  environment.yml
Due: none

#11 [web_app] Add login button
  web_app/app/demo.html
  web_app/app/style.css
Due: webapp-deploy

#16 [web_app] Fix vite dependency vulnerability
  web_app/app/package-lock.json
Due: webapp-deploy

Update environment.yml
  environment.yml
Due: none

Fix docstring.
  model/model.py
Due: none

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: server_app/Dockerfile, server_app/environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, .gitlab-ci.yml
