Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

webapp-deploy:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

baseimage:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

serverapp:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - - docker version
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build $IMAGE_FOLDER --pull -t "$IMAGE_NAME_SERVER:latest"
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app] Add prettier to packages
  web_app/app/package-lock.json
  web_app/app/package.json
Due: webapp-deploy

[desktop_app] Add black to environment.yml
  desktop_app/environment.yml
Due: none

[server_app] Add black to environment.yml
  server_app/environment.yml
Due: baseimage, serverapp

Reformat code with black
  desktop_app/src/controller.py
  desktop_app/src/settings_view.py
  desktop_app/src/training_view.py
  desktop_app/src/view.py
  desktop_app/src/zoom_canvas.py
  model/exceptions.py
  model/model.py
  model/persistence.py
  run_desktop_app.py
  server_app/src/__main__.py
  server_app/src/model.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
  unittest_model.py
Due: serverapp

Reformat code with prettier
  .gitlab-ci.yml
  README.md
  desktop_app/README.md
  desktop_app/environment.yml
  desktop_app/src/config.json
  server_app/README.md
  server_app/docker/config.docker.json
  server_app/environment.yml
  server_app/resources/config.sample.json
  server_app/resources/locations.geojson
  web_app/app/README.md
  web_app/app/demo.html
  web_app/app/index.html
  web_app/app/main.js
  web_app/app/style.css
  web_app/app/vite.config.js
Due: webapp-deploy, baseimage, serverapp

[server_app] Add new fields to config files
  server_app/docker/config.docker.json
  server_app/resources/config.sample.json
Due: serverapp

[server_app] Add method to Model for calculating min and max values of a band
  server_app/src/model.py
Due: serverapp

[server_app] Update download paths in APIs
  server_app/src/planetapi.py
  server_app/src/sentinelapi.py
Due: serverapp

[server_app] Generate JSON file containing satellite image paths
  server_app/src/process.py
Due: serverapp

[server_app] Update README.md
  server_app/README.md
Due: serverapp

[server_app] Prevent downloading already existing Planet images
  server_app/src/planetapi.py
Due: serverapp

[server_app] Update docstrings
  server_app/src/__main__.py
  server_app/src/baseapi.py
  server_app/src/model.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

[server_app] Format code with black
  server_app/src/process.py
Due: serverapp

[server_app] Update logging
  server_app/src/__main__.py
  server_app/src/process.py
Due: serverapp

[ci] Allow failure in lint jobs
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[server_app] Update logging
  server_app/src/__main__.py
Due: serverapp

[server_app] Fix json file generation bug
  server_app/src/process.py
Due: serverapp

[server_app] Prevent downloading already existing Planet images
  server_app/src/planetapi.py
  server_app/src/process.py
Due: serverapp

[server_app] Run prettier
  server_app/docker/config.docker.json
  server_app/resources/config.sample.json
  server_app/resources/locations.geojson
Due: serverapp

[web_app] Set swipe max value
  web_app/app/main.js
Due: webapp-deploy

[web_app] Use prettier
  web_app/app/main.js
Due: webapp-deploy

add support for multiple models
  server_app/src/model.py
  server_app/src/process.py
Due: serverapp

separate classification and download
  server_app/src/__main__.py
  server_app/src/baseapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

separate classification from downloads
  server_app/docker/start_server.sh
  server_app/src/__main__.py
  server_app/src/baseapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

structure geojson files by model
  server_app/README.md
  server_app/resources/config.sample.json
  server_app/src/process.py
Due: serverapp

structure estimation file by model
  server_app/src/process.py
Due: serverapp

WIP: add button for changing models
  web_app/app/demo.html
  web_app/app/main.js
Due: webapp-deploy

[web_app] prettier fixes
  web_app/app/demo.html
  web_app/app/index.html
  web_app/app/main.js
Due: webapp-deploy

WIP: fix errors created by merging
  server_app/src/process.py
  web_app/app/main.js
Due: webapp-deploy, serverapp

fix slider
  web_app/app/main.js
Due: webapp-deploy

fix certain models not showing the heatmap
  model/model.py
  server_app/src/model.py
  server_app/src/process.py
Due: serverapp

remove unused method
  server_app/src/process.py
Due: serverapp

fix swiper issues when changing AOIs
  web_app/app/main.js
Due: webapp-deploy

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: server_app/Dockerfile, server_app/environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, .gitlab-ci.yml
