Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

webapp-homepage-deploy:
  image: ubuntu:latest
  stage: deploy
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
  ...

webapp-demo-deploy:
  image: ubuntu:latest
  stage: deploy
  dependencies:
  - webapp-demo-build
  before_script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

serverapp-build:
  stage: build
  image: docker:latest
  tags:
  - docker
  - docker-socket
  variables:
    IMAGE_FOLDER: server_app
  before_script:
  - docker version
  script:
  - docker build $IMAGE_FOLDER --pull --target base -t "$IMAGE_NAME_BASE:$CI_COMMIT_SHORT_SHA"
  ...

serverapp-deploy:
  stage: deploy
  image: docker:latest
  tags:
  - docker
  - docker-socket
  before_script:
  - docker version
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker tag "$IMAGE_NAME_BASE:$CI_COMMIT_SHORT_SHA" "$IMAGE_NAME_BASE:latest"
  ...

[ci] Change image name in model-unittest
  .gitlab-ci.yml
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

[ci] fix build image usage by model unittest
  .gitlab-ci.yml
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

[ci] fix typos
  .gitlab-ci.yml
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

[web_app] single CI job for deployment
  .gitlab-ci.yml
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

[web_app] unify web app into single build
  .gitlab-ci.yml
  web_app/app/.env
  web_app/app/.env.production
  web_app/app/.gitignore
  web_app/app/README.md
  web_app/app/demo.html
  web_app/app/imgs/ik-logo-nagy-en.png
  web_app/app/imgs/lechner_logo.png
  web_app/app/imgs/pet_logo_en.png
  web_app/app/imgs/screenshot_webapp.png
  web_app/app/index.html
  web_app/app/main.js
  web_app/app/package-lock.json
  web_app/app/package.json
  web_app/app/style.css
  web_app/app/vite.config.js
  web_app/demo/vite.config.js
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

[web_app] Add KEPAF paper from ResearchGate
  web_app/app/index.html
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Remove OverviewMap because it has bugs on mobile view
  web_app/app/main.js
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Fix typos
  web_app/app/index.html
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Resize controls in demo
  web_app/app/demo.html
  web_app/app/style.css
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Change spacing in demo
  web_app/app/demo.html
  web_app/app/style.css
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Fix typos, remove unnecessary imports
  web_app/app/main.js
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Format Code
  web_app/app/demo.html
  web_app/app/index.html
  web_app/app/main.js
  web_app/app/style.css
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Change subtitle
  web_app/app/index.html
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] add publication DOI to homepage
  web_app/app/index.html
Due: webapp-homepage-deploy, webapp-demo-deploy

[server_app] Change generation of GeoJSON file paths for web_app
  server_app/src/process.py
Due: serverapp-build, serverapp-deploy

[web_app] Specify a semantic version constraint (^7.3.0) for OpenLayers
  web_app/app/package.json
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Specify a semantic version constraint (^7.3.0) for OpenLayers
  web_app/app/package-lock.json
Due: webapp-homepage-deploy, webapp-demo-deploy

Add LICENSE
  LICENSE
Due: none

Update README
  README.md
Due: none

Add screenshots to README.
  README.md
  desktop_app/screenshot.png
  web_app/screenshot.png
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Feature: display GeoTIFF image as a new layer
  web_app/app/main.js
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Edit comments
  web_app/app/main.js
Due: webapp-homepage-deploy, webapp-demo-deploy

[server_app] Reproject coordinates to EPSG:4326 in locations.geojson
  server_app/resources/locations.geojson
Due: serverapp-build, serverapp-deploy

[server_app] Change CRS to POP_WEB in SentinelAPI
  server_app/src/sentinelapi.py
Due: serverapp-build, serverapp-deploy

[server_app] Transform coordinates to EPSG:3857 if SentinelAPI is used
  server_app/src/process.py
Due: serverapp-build, serverapp-deploy

[server_app] Add reproject tool to PlanetAPI
  server_app/src/planetapi.py
Due: serverapp-build, serverapp-deploy

[server_app] Change function of coordinate transformation in model.py
  server_app/src/model.py
Due: serverapp-build, serverapp-deploy

[server_app] Change filename postfix when searching images in process.py
  server_app/src/process.py
Due: serverapp-build, serverapp-deploy

[web_app] Add min value to GeoTIFF
  web_app/app/main.js
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Update screenshot
  web_app/screenshot.png
Due: webapp-homepage-deploy, webapp-demo-deploy

[web_app] Update screenshot on homepage
  web_app/app/imgs/screenshot_webapp.png
Due: webapp-homepage-deploy, webapp-demo-deploy

[server_app] Reformat code with black
  server_app/src/__main__.py
  server_app/src/model.py
  server_app/src/planetapi.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp-build, serverapp-deploy

[server_app] Modify functions for coordinate reprojection
  server_app/src/model.py
  server_app/src/process.py
Due: serverapp-build, serverapp-deploy

[server_app] Reformat code with black and flake8
  server_app/src/model.py
  server_app/src/process.py
Due: serverapp-build, serverapp-deploy

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: webapp-homepage-deploy, webapp-demo-deploy, serverapp-build, serverapp-deploy

Path conditions:
  webapp-homepage-deploy: any of: web_app/**/*, .gitlab-ci.yml
  webapp-demo-deploy: any of: web_app/**/*, .gitlab-ci.yml
  serverapp-build: any of: server_app/**/*, .gitlab-ci.yml
  serverapp-deploy: any of: server_app/**/*, .gitlab-ci.yml
