Repository GISLab-ELTE/WasteDetection: changes, and which GitLab CI jobs are due for each by the changed paths.
All: webapp-deploy, baseimage, serverapp

Path conditions:
  webapp-deploy: any of: web_app/**/*, .gitlab-ci.yml
  baseimage: any of: Dockerfile, environment.yml, .gitlab-ci.yml
  serverapp: any of: server_app/**/*, model/**/*, .gitlab-ci.yml

Black lint.
  model/model.py
  server_app/src/process.py
  server_app/src/sentinelapi.py
Due: serverapp

[web_app_backend] #14 Add sqlalchemy to environment.yml
  environment.yml
Due: baseimage

[web_app_backend] #14 Add tables for database
  web_app/backend/database/tables/annotations.py
  web_app/backend/database/tables/satellite_images.py
  web_app/backend/database/tables/users.py
Due: webapp-deploy

[web_app_backend] #14 Rename web_app/app to web_app/frontend
  .gitlab-ci.yml
Due: webapp-deploy, baseimage, serverapp

[web_app_backend] #14 Rename web_app/app to web_app/frontend
  web_app/frontend/.env
  web_app/frontend/.env.production
  web_app/frontend/.gitignore
  web_app/frontend/README.md
  web_app/frontend/demo.html
  web_app/frontend/imgs/ik-logo-nagy-en.png
  web_app/frontend/imgs/lechner_logo.png
  web_app/frontend/imgs/pet_logo_en.png
  web_app/frontend/imgs/screenshot_webapp.png
  web_app/frontend/index.html
  web_app/frontend/main.js
  web_app/frontend/package-lock.json
  web_app/frontend/package.json
  web_app/frontend/style.css
  web_app/frontend/vite.config.js
Due: webapp-deploy

Update environment.yml
  environment.yml
Due: baseimage

[web_app_backend] #14 Change table names and add Geometry type to annotations.py
  web_app/backend/database/tables/annotations.py
  web_app/backend/database/tables/satellite_images.py
  web_app/backend/database/tables/users.py
Due: webapp-deploy

[web_app_backend] #14 Rename files containing database tables
  web_app/backend/database/tables/annotation.py
  web_app/backend/database/tables/satellite_image.py
  web_app/backend/database/tables/user.py
Due: webapp-deploy

[web_app_backend] #14 Update environment.yml
  environment.yml
Due: baseimage

[web_app_backend] #14 Add flask app with database
  web_app/backend/app.py
  web_app/backend/config.py
  web_app/backend/models.py
Due: webapp-deploy

[web_app_backend] #14 Add README.md to web_app/backend
  web_app/backend/README.md
Due: webapp-deploy

[web_app_backend] #14 Update README.md
  web_app/backend/README.md
Due: webapp-deploy

[web_app_backend] #14 Use postgresql and add geom column to annotation table
  web_app/backend/app.py
  web_app/backend/config.py
  web_app/backend/models.py
Due: webapp-deploy

[web_app_backend] #14 Add migrations files
  web_app/backend/migrations/README
  web_app/backend/migrations/alembic.ini
  web_app/backend/migrations/env.py
  web_app/backend/migrations/script.py.mako
  web_app/backend/migrations/versions/ea35b161eb13_initial_migration.py
Due: webapp-deploy

[web_app_backend] #14 Remove old scripts for database tables
  web_app/backend/database/tables/annotation.py
  web_app/backend/database/tables/satellite_image.py
  web_app/backend/database/tables/user.py
Due: webapp-deploy

[web_app_backend] #14 Add CORS to flask app
  web_app/backend/app.py
Due: webapp-deploy

[web_app_backend] #14 Config CORS
  web_app/backend/app.py
Due: webapp-deploy

[web_app_frontend] #11 Add login page
  web_app/app/demo.html
  web_app/app/login.html
  web_app/app/main.js
  web_app/app/vite.config.js
Due: webapp-deploy

[web_app_backend] #14 Add check-login endpoint
  web_app/backend/app.py
Due: webapp-deploy

[web_app_frontend] #11 Add login-logout mechanism
  web_app/app/demo.html
  web_app/app/login.html
  web_app/app/main.js
Due: webapp-deploy

[web_app_frontend] #11 Add FLASK_URL to env files
  web_app/app/.env
  web_app/app/.env.production
Due: webapp-deploy

[web_app_frontend] #11 Change layout of demo page
  web_app/app/demo.html
Due: webapp-deploy

[web_app_frontend] #11 Add icon to index.html
  web_app/app/index.html
Due: webapp-deploy

[web_app_frontend] #11 Use prettier
  web_app/app/login.html
Due: webapp-deploy

[web_app_frontend] #11 Add functions and event handlers to communicate with flask backend
  web_app/app/main.js
  web_app/app/style.css
Due: webapp-deploy

[web_app_frontend] #11 Add js and css files for login page
  web_app/app/login.js
  web_app/app/login_style.css
  web_app/app/vite.config.js
Due: webapp-deploy

[web_app_backend] #14 Use black
  desktop_app/src/view_model.py
  server_app/src/process.py
Due: serverapp

[web_app_backend] #14 Add new endpoints necessary for frontend to flask app
  web_app/backend/app.py
  web_app/backend/config.py
  web_app/backend/models.py
Due: webapp-deploy

[web_app_backend] #14 Update frontend/package-lock.json because of vulnerability issues
  web_app/frontend/package-lock.json
Due: webapp-deploy

Add Sustainability paper to README
  README.md
Due: none

Add Sustainability paper to webpage
  web_app/app/index.html
Due: webapp-deploy

[web_app] prettier fix
  README.md
  web_app/app/index.html
Due: webapp-deploy

[web_app_frontend] #11 Feature: display previous annotations made by current user
  web_app/app/main.js
Due: webapp-deploy

[web_app_backend] #14 Feature: display previous annotations made by current user
  web_app/backend/app.py
Due: webapp-deploy

Add pytorch
  environment.yml
Due: baseimage

Add link to KEPAF paper.
  README.md
  web_app/app/index.html
Due: webapp-deploy
